<table>
  <tr>
    <td>AVAILABLE FUNDS</td>
    <td><%= current_user.try(:available_balance) %></td>
  </tr>
  <tr>
    <td><%= link_to "YOU ARE OWED", user_receivables_path(current_user) %></td>
    <td><%= current_user.total_receivable %></td>
  </tr>
  <tr>
    <td><%= link_to "YOU OWE", user_payables_path(current_user) %></td>
    <td><%= current_user.total_payable %></td>
  </tr>
  <tr>
    <td>+/-</td>
    <td><%= current_user.balance_snapshot %></td>
  </tr>
  <tr>
    <td>SCHEDULED PMTS</td>
    <td>$10.00</td>
  </tr>
</table>

