<!-- Home Screen -->
<nav>
  <h1>SplitTrack</h1>
</nav>
<article id='main' class='current'>
  <section>
    <ul class='list' role='list'>
      <li class='comp' data-goto="available-funds">
        <div>
          <h3>AVAILABLE FUNDS</h3>
        </div>
        <aside>
          <h4><%= current_user.available_balance %></h4>
          <span class='nav'></span>
        </aside>
      </li>
      <li class='comp' data-goto="owe">
        <div>
          <h3>YOU OWE</h3>
        </div>
        <aside>
          <h4><%= current_user.total_payable %></h4>
          <span class='nav'></span>
        </aside>
      </li>
      <li class='comp' data-goto="owed">
        <div>
          <h3>YOU ARE OWED</h3>
        </div>
        <aside>
          <h4><%= current_user.total_receivable %></h4>
          <span class='nav'></span>
        </aside>
      </li>
      <li class='comp' data-goto="net-snap">
        <div>
          <h3>NET SNAPSHOT</h3>
        </div>
        <aside>
          <h4><%= current_user.balance_snapshot %></h4>
          <span class='nav'></span>
        </aside>
      </li>
      <li class='comp' data-goto="scheduled">
        <div>
          <h3>SCHEDULED PMTS</h3>
        </div>
        <aside>
          <h4>10.00</h4>
          <span class='nav'></span>
        </aside>
      </li>
    </ul>
    <br><br>
    <a id='goToLast' href='javascript:void(null)' class="button action">Straight to Detail Article</a>
  </section>
</article>

<!-- Contacts Screen -->
<nav>
  <a href='javascript:void(null)' class="button back">Back</a>
  <h1>Contacts</h1>
</nav>
<article id="available-funds" class='next'>
  <section>
    <ul class='list' role='list'>
      <%   current_user.contacts.each do |contact| %>
        <li class='comp' data-goto=<%= "contact-#{contact.to_param}" %>>
          <div>
            <h3><%= contact.name %></h3>
          </div>
          <aside>
            <h4><%= contact.email %></h4>
            <span class='nav'></span>
          </aside>
        </li>
      <% end %>
    </ul>
  </section>
</article>

<!-- Split Pay Form -->
<!-- <nav>
  <a href='javascript:void(null)' class="button back">Back</a>
  <h1>Split Total</h1>
</nav> -->
<nav>
  <a class='button cancel'>Cancel</a>
  <h1>Split Pay</h1>
  <a class='button done align-flush'>Done</a>
</nav>
<article class='current'>
  <section>
    <%= form_for @split_payment do |f| %>
    <!-- <form id='userForm' action='javascript:submitForm()'> -->
      <h2>Personal Info</h2>
      <ul class='list'>
        <li class='comp'>
          <div>
            <h3>Name/Description</h3>
          </div>
          <aside>
            <%= f.text_field :name, placeholder: "Electric Bill" %>
            <!-- <input type='text' name='user.name.first' placeholder='John'> -->
           </aside>
         </li>
         <li class='comp'>
           <div>
            <h3>You Paid</h3>
          </div>
          <aside>
            <%= f.text_field :paid, placeholder: "Enter Amount" %>
            <!-- <input type='text' name='user.name.last' placeholder='Doe'> -->
          </aside>
         </li>
      </ul>
      <h2>Contacts</h2>
      <ul id="split-contact-list" class='list'>
        <li class='comp split-contact-row'>
          <div class="split-contact">
            <%= select_tag 'contact_payments[][id]',
              options_for_select(User.all.map { |u| [u.name, u.id] }),
              { prompt: "Choose a Contact", class: 'select2' }
            %>
          </div>
          <div class="split-contact">
            <input class='contact-amount' name='contact_payments[][amount]' placeholder='Enter Amount' type='text'>
          </div>
          <aside>
            <span class='remove-contact'>-</span>
            <span class='add-contact'>+</span>
          </aside>
        </li>
      </ul>
    <% end %>
  </section>
</article>

<!-- You Owe screen -->
<nav>
  <a href='javascript:void(null)' class="button back">Back</a>
  <h1>YOU OWE</h1>
</nav>
<article id="owe" class='next'>
  <section>
    <ul class='list' role='list'>
      <% current_user.contacts.each do |contact| %>
        <li class='comp' data-goto=<%= "owe-entries#{contact.id}" %>>
          <div>
            <h3><%= contact.name %></h3>
          </div>
          <aside>
            <h4><%= current_user.owe(contact.to_param) %></h4>
            <span class='nav'></span>
          </aside>
        </li>
      <% end %>
    </ul>
  </section>
</article>

<!-- You Are Owed screen -->
<nav>
  <a href='javascript:void(null)' class="button back">Back</a>
  <h1>YOU ARE OWED</h1>
</nav>
<article id="owed" class='next'>
  <section>
    <ul class='list' role='list'>
      <% current_user.contacts.each do |contact| %>
        <li class='comp' data-goto=<%= "owed-entries#{contact.id}" %>>
          <div>
            <h3><%= contact.name %></h3>
          </div>
          <aside>
            <h4><%= current_user.owed(contact.to_param) %></h4>
            <span class='nav'></span>
          </aside>
        </li>
      <% end %>
    </ul>
  </section>
</article>

<!-- Contacts, Owe and Owed screens -->

<% current_user.contacts.each do |contact| %>
  <nav>
    <a href='javascript:void(null)' class="button back">Back</a>
    <h1><%= contact.name + " owes you" %></h1>
  </nav>
  <article id=<%= "owed-entries#{contact.id}" %> class='next'>
    <section>
      <ul class='list'>
        <% current_user.owed_entries(contact.to_param).each do |entry| %>
          <li class='comp'>
            <div>
              <h3><%= entry.description %></h3>
            </div>
            <aside>
              <h4><%= entry.amount %></h4>
            </aside>
          </li>
        <% end %>
      </ul>
    </section>
  </article>

  <nav>
    <a href='javascript:void(null)' class="button back">Back</a>
    <h1><%= contact.name + " owes you" %></h1>
  </nav>
  <article id=<%= "owe-entries#{contact.id}" %> class='next'>
    <section>
      <ul class='list'>
        <% current_user.owe_entries(contact.to_param).each do |entry| %>
          <li class='comp'>
            <div>
              <h3><%= entry.description %></h3>
            </div>
            <aside>
              <h4><%= entry.amount %></h4>
            </aside>
          </li>
        <% end %>
      </ul>
    </section>
  </article>

  <nav>
    <a href='javascript:void(null)' class="button back">Back</a>
    <h1><%= contact.name %></h1>
  </nav>
  <article id=<%= "contact-#{contact.to_param}" %> class='next'>
    <section>
      <ul class='list'>
        <li class='comp'>
          <div>
            <h3>Name</h3>
          </div>
          <aside>
            <h4><%= contact.name %></h4>
          </aside>
        </li>
        <li class='comp'>
          <div>
            <h3>Email</h3>
          </div>
          <aside>
            <h4><%= contact.email %></h4>
          </aside>
        </li>
      </ul>
    </section>
  </article>
<% end %>




